@import '~antd/lib/style/themes/default.less';

.title {
  color: @heading-color;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

/*div{
  background:#a2a2a2;
}

img{
  height: 88%;
  background:#a2a2a2;
  width: 88%;
}
*/

.ant-carousel .slick-dots li.slick-active button {
  background: #000000;
  opacity: 1;
  width: 24px;
}
.ant-carousel .slick-dots li button {
  border: 0;
  cursor: pointer;
  background: #333;
  opacity: 0.3;
  display: block;
  width: 16px;
  height: 3px;
  border-radius: 1px;
  outline: none;
  font-size: 0;
  color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0;
}
